/*loading動畫*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #343541;
}

.loading-container {
    position: relative;
    margin-bottom: 50px; /*loading與錯誤框的間距*/
}

.loading-ring {
    /*loading圓的大小*/
    width: 170px;
    height: 170px;
    /*loading圓的粗細*/
    border: 18px solid rgba(255, 255, 255, 0.3);
    border-top: 18px solid white;
    border-radius: 50%;
    position: relative;
    animation: spin 2s linear infinite;
}

.loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.9rem;
    font-family: 'Comic Sans MS', 'Arial', sans-serif;/*loading字體*/
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
